*, html, body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

.parallax{
    height: 100vh;
    background-size: cover;
    background-position: auto;
    background-attachment: fixed;
    
}

.intro{
background-image: url('src/assets/1.jpg');
}


.content{
    background-image: url('src/assets/2.jpg');
}

.footer{
    background-image: url('src/assets/3.jpg');
}


.FCountainer {
    width: 100%;
    height: 100vh;
    
}

.wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color:rgb(50, 50, 51);
}

.brand {
 font-size: 18px;
 padding: 5px;
}

.firstname {
    margin-top: 5px;
    margin-left: 20px;
    color: white;
    font-weight: 700;
    
}
.lastname {
    color:crimson;
    font-weight: 700;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content:  center;
    margin-right: 30px;

}

.navigation> li {
    list-style-type: none;
    padding: 10px;
}

.navigation > li > a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation >li >a:hover {
    color: crimson;
    transition: all .3s ease-in-out;
}